<!-- <h1>Hello {{title}}</h1>
<h1> {{fun()}}</h1>
<h1>{{name == "singh"}}</h1>
<h1>{{num==1}}</h1> -->
<!-- <app-inlinestyle></app-inlinestyle> -->
<!-- <app-inline-tempelate></app-inline-tempelate> -->
<!-- <app-inline-temp-style></app-inline-temp-style> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-if-else></app-if-else> -->
<!-- <app-switch-case></app-switch-case> -->
<!-- <app-for-loop></app-for-loop> -->
<!-- <app-nested-loop></app-nested-loop> -->
<!-- <app-dynamic-style></app-dynamic-style> -->
<!-- <app-form></app-form> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section> -->

  <!-- <app-to-do-list [item]="data" ></app-to-do-list> -->
  <!-- <button (click)="updateData()">Change Value</button> -->
  <app-two-way-binding></app-two-way-binding>